html {
  font-family: "Fredoka One", sans-serif;
}

main {
  background: repeating-linear-gradient(-30deg, #b3fbff, #c9fcff 20px, #d4fdff 20px);
  min-height: 500px;
  max-height: 500px;
}

.btn-ghost {
  border-color: #990073;
}

.btn-ghost:hover {
  border-color: #990073;
}

.cherry {
  bottom: 100%;
  right: 35px;
  transform: scale(.7);
  z-index: 3;
  animation: cherry-drop 500ms forwards linear 2000ms;
}

.vanilla {
  bottom: 100%;
  right: 35px;
  transform: scale(.7);
  z-index: 2;
  animation: fudge-drop 500ms forwards linear 1500ms;
}

.choco-chip {
  bottom: 100%;
  right: 30px;
  transform: scale(.7);
  z-index: 1;
  animation: chocolate-drop 500ms forwards linear 1000ms;
}

.mint-chip {
  bottom: 100%;
  right: 35px;
  transform: scale(.7);
  animation: mint-drop 500ms forwards linear 500ms;
}

.cone {
  bottom: 100%;
  right: 35px;
  transform: scale(.7);
  animation: cone-drop 500ms forwards linear;
}

.title {
  color: #990073;
  transform: rotate(-8deg);
  margin-left: -15px;
}

p {
  max-width: 19em;
  transform: rotate(-5deg);
}

p, a {
  text-decoration: none;
  color: #c09;
}

.title, p {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.text-box {
  transform-origin: left center;
  padding-left: 6%;
  animation: fading 3500ms linear;
}

.image-frame {
  min-height: 480px;
}
